@import url('https://fonts.googleapis.com/css2?family=Raleway');

*{
    margin: 0;
    padding: 0;
    font-family: Raleway;
}

.navi ul{
    margin: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: orange;
    
}

.navi li {
    display: inline-block;
    padding: .5em;
    
}
.navi a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.artic {
    padding: .5em;
    margin: .3em;
}